@import "@/styles/variables";

.container {
    @include pageWrapper;
}
.content {
    @include pageContent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    @media (max-width: $tabletSize) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.logoLink {
    height: 64px;
    height: 64px;
    img {
        height: 64px;
        height: 64px;
    }
    @media (max-width: $tabletSize) {
        height: 40px;
        height: 40px;
        img {
            height: 40px;
            height: 40px;
        }
    }
}
.DesctopMenuContainer {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: $tabletSize) {
        display: none;
    }
}
.mopbileMenuToggler {
    display: none;
    @media (max-width: $tabletSize) {
        display: block;
    }
}
.activeLink {
    border-bottom: 1px solid $Orange;
    width: max-content;
}
