@import "@/styles/variables";

.container {
    width: 50%;
    max-width: 500px;
    min-height: 378px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #f1a372;
    background: rgba(223, 145, 97, 0.05);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    @media (max-width: $tabletSize) {
        min-height: 300px;
        width: 100%;
    }
}
.imageBlock {
    height: 208px;
    width: max-content;
    align-self: center;
    @media (max-width: $mobileSize) {
        height: 156px;
    }
}
.image {
    height: 100%;
    width: auto;
}

.textBlock {
    max-width: 275px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $Orange;
}
